s<%= form_for(@task, html: {:class => "form-horizontal"})  do |f| %>

<%= render partial: "/shared/errors", locals: {object: @task} %>

<div class="form-group">
  <div class="field">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="form-controls col-md-4">
      <%= f.text_field :description, :class => 'form-control'%>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :due_date, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
    <%= f.date_select :due_date, :class => 'form-control' %>
  </div>
</div>
<% unless @task.id == nil %>
<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <%= f.check_box :complete %>
    <%= f.label :complete %>
  </div>
</div>
<% end %>
<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <% if @task.id == nil %>
    <%= f.submit 'Create Task', :class => 'btn btn-primary' %>
    <a class="btn btn-default" href="/users">Cancel</a>
    <% else %>
    <%= f.submit 'Update Task', :class => 'btn btn-primary' %>
    <%= link_to 'Delete Task', @task, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <a class="btn btn-default" href="/users">Cancel</a>
    <% end %>

  </div>
</div>

<% end %>
