<% if notice %>

<p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>
<ol class="breadcrumb">
  <li> <%= link_to "Projects", projects_path(@project)  %></li>
  <li> <%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li class="active"> <%= @task.description %> </li>
</ol>
<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class: 'btn btn-info' %>
  </div>
  <h1><%= @task.description %></h1>
</div>



<p>
  <strong>Due on:</strong>
  <%= @task.due_date.strftime("%m/%d/%Y") %>

</p>

<!-- <p>
  <strong>Complete:</strong>
  <%= @task.complete? %>
</p> -->
<h2>Comments</h2>


<% @comments.each do |comment| %>
  <div class="row">
    <div class="col-md-3">
    <%= link_to User.find(comment.user_id).full_name, user_path(comment.user_id) %><br>
    <div class="text-muted">
      <%= time_ago_in_words(comment.created_at) %> ago
    </div>
    </div>
    <div class="col-md-9">
      <%= comment.description %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-offset-3 col-md-9">
    <%= form_for([@project,@task, @comment]) do |f| %>
    <div class="form-group">
      <%= f.text_area :description, size: "40x5", class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
