<% if notice %>

<p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>
<ol class="breadcrumb">
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li class="active">New Task</li>
</ol>
<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class: 'btn btn-info' %>
  </div>
  <h1><%= @task.description %></h1>
</div>



<!-- <p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p> -->
