<%= form_for(@user, html: {:class => "form-horizontal"})  do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :first_name, :class => 'control-label col-md-2' %>
      <div class="form-controls col-md-4">
        <%= f.text_field :first_name, :class => 'form-control'%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
      <% if @user.first_name == nil %>
        <%= f.submit 'Create User', :class => 'btn btn-primary' %>
        <a class="btn btn-default" href="/users">Cancel</a>
      <% else %>
        <%= f.submit 'Update User', :class => 'btn btn-primary' %>
        <%= link_to 'Delete User', @user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        <a class="btn btn-default" href="/users">Cancel</a>
      <% end %>

    </div>
  </div>
<% end %>
