<% if notice %>
<p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>
<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-info" href="/users/new">New User</a>
  </div>
  <h1>Users</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=  user.full_name%></td>
      <td class="mail_to"><%= user.email %></td>
      <td class="text-right">
      <%= link_to 'Edit', edit_user_path(user), class: "btn btn-info" %>
        <%= link_to 'Delete', user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
