<% if notice %>

<p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="/users">Users</a></li>
    <li class="active"><%= @user.full_name %></li>
  </ol>
  <div class="pull-right">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %>
  </div>
  <h1><%= @user.full_name %></h1>
</div>
  <dl class="dl-horizontal">
    <dt>First Name:</dt>
    <dd><%= @user.first_name %></dd>
    <dt>Last Name:</dt>
    <dd><%= @user.last_name %></dd>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
  </dl>
